@charset "utf-8";
/* CSS Document */


.npname {
	text-align: center;
}

.npename {
	
}

.npcname {
	font-size: 35px;
	font-family: Arial, Kaiti, Microsoft Yahei;
}

.nptype {
	position: relative;
	top:6px;
}


.remark{
	font-family: Arial, Kaiti,Microsoft Yahei;
	margin:10px 41px;
}
.nplevel，.nphit {
	font-weight: bold;
}


